.App {
    flex-direction: column;
}

.cfb{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    position: relative;
    width: 90%;
    min-height: 80vh;

    border: 2.5px solid #660000;
    border-radius: 0.5em;
    box-shadow: 1px 2px 2px #694873;

    background-color: #660000;

    flex-wrap: wrap;
}

.square{
    position: absolute;
    z-index: 0;

    width: calc(50% - 5px); 
    height: calc(50% - 5px);

    border: 2.5px solid #660000;
    border-radius: 0.5em;

    background-color: #FFD6D6;

    transition: 1s;
}

.projects{
    top: 0;
    left: 0;
}

.about{
    top: 0;
    left: 50%;
}

.contact{
    top: 50%;
    left: 0;
}

.blog{
    top: 50%;
    left: 50%;
}


/* +/- button controls these classes */
.active{
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.inactive{
    opacity: 0;
    visibility: hidden;
}


/* responsive sizes */
@media only screen and (max-width: 44em) {
    .container{
        width: 100%;
        height: auto;
    }
    
    .square {
        width: 100%;
        height: 200px;
    }

    .projects{
        top: 0;
        left: 0;
    }
    
    .about{
        top: 200px;
        left: 0;
    }
    
    .contact{
        top: 400px;
        left: 0;
    }
    
    .blog{
        top: 600px;
        left: 0;
    }   
    
    .active{
        position: absolute;
        top: 0;
    }
}